@media(min-width: 1200px) {
	.swiper {
		width: 639px!important;
	}
}

@media(max-width: 720px) {
	.swiper-pagination {
		display: none;
	}
}



.swiper-next, .swiper-prev {
	cursor: pointer;
}

.swiper-buttons {
	display: flex;

	position: relative;
	bottom: 120px;
	left: 190px;
}

.swiper-slide {
	position: relative;
	z-index: 1;
}

.swiper-next {
	transform: rotate(180deg);

	position: relative;
	left: 700px;
	bottom: 4px;
}

.swiper-pagination {
	position: static;
	margin-top: 15px;
}


.swiper-pagination-bullet {
	width: 17px;
	height: 17px;

	background: #FFFFFF;
	border: 1px solid #DCDCDC;
}

.swiper-pagination-bullet-active {
	background: #EE7E17;
}